header {/* Transiciones generales para toda la pagina */
  transition: background-color 0.5s ease, color 0.5s ease;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4066ea !important; /* tu azul */
    color: white;
}

.navbar-left a {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a,
.navbar-right button {
    margin-left: 1rem;
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar-right a:hover,
.navbar-right button:hover {
    background-color: #4e78ff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}


/*Botones Nuevos estilos*/

/* Logo */
.navbar-brand {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  color: white !important;
}

/* Links del menú */
.nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.05);
  background-color: white;
  color: #4066ea !important;
  padding: 5px 5px;
  border-radius: 10px;
}

/* Botón hamburguesa */
.navbar-toggler {
  border: none;
  box-shadow: none;
}

/* Ícono hamburguesa */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3E%3Cpath d='M4 7h22v2H4zm0 7h22v2H4zm0 7h22v2H4z'/%3E%3C/svg%3E");
}

/* Botón "Cerrar Sesión" */
.btn-outline-light {
  border-radius: 12px;
  padding: 6px 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.btn-outline-light:hover {
  background-color: white;
  color: #4066ea !important;
}


/*Cambiar Modo Oscuro*/
.theme-toggle-btn {
  border: none;
  background: transparent !important;
  color: white;
  font-size: 1.25rem;
  transition: transform 0.2s ease;
}

.theme-toggle-btn:hover {
  transform: rotate(20deg) scale(1.1);
  color: #ffeb3b; /* Ej: amarillo sol */
}


body.bg-dark {
  background-color: #121212;
}

body.bg-dark .navbar {
  background-color: #1f1f1f !important;
}

body.bg-dark .nav-link {
  color: #eee !important;
}

body.bg-dark .nav-link:hover {
  background-color: #eee;
  color: #1f1f1f !important;
}
